{{define "content"}}<main class="vk-main vk-login"><div class="vk-main__head"><span class="vk-top__mark">{{mark 22}}<span>vink</span></span></div>
<form class="vk-form" method="post" action="/login"><input type="hidden" name="_csrf" value=""><input type="hidden" name="next" value="{{.Next}}">
{{if .Error}}<p class="vk-field__error" role="alert">{{glyph "down" ""}}{{.Error}}</p>{{end}}
{{field (dict "ID" "user" "Label" "User" "Value" .User "Name" "user" "Attrs" (attrs "autocomplete" "username" "autofocus" "" "required" ""))}}
{{field (dict "ID" "password" "Label" "Password" "Name" "password" "Type" "password" "Attrs" (attrs "autocomplete" "current-password" "required" ""))}}
<div class="vk-form__actions">{{button (dict "Label" "Sign in" "Variant" "primary" "Type" "submit")}}</div></form></main>{{end}}
